@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$background-color:hsl(226, 43%, 10%);
$color:hsl(0, 0%, 100%);
$font-size:1.8rem;
$font-family: 'DM Sans', sans-serif;
$Cards-display: flex;
$Cards-flex-direction: row;
$cards-gap: 15px;
@mixin borderMixin($width, $color) {
  border: $width solid $color;
}
@mixin card-style {
  border:0;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  width: 220px;
  height:170px;
  margin-top: 40px;
  background-color: hsl(235, 46%, 20%);
}
@mixin card-back-style {
  border: 0;
  border-radius: 12px;
  margin: 10px;
  width: 220px;
  height: 210px;
  margin-top: 40px;
  
}

$card-colors: (
  work: hsl(15, 100%, 70%),
  play: hsl(195, 74%, 62%),
  study: hsl(348, 100%, 68%),
  exercise: hsl(145, 58%, 55%),
  social: hsl(264, 64%, 52%),
  self: hsl(43, 84%, 65%)
);


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: $background-color;
  color: $color;
}
.profile img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  @include borderMixin(3px, white);
}
.tracking-content{
  display: $Cards-display;
  flex-direction: $Cards-flex-direction;
}
.weekly-report{
  margin-left: 30px;
display: flex;
flex-direction: column;
gap: 5px;


}
.row-one{
  display:$Cards-display;
  flex-direction: $Cards-flex-direction;
  gap: $cards-gap;
}
.row-two{
  display:$Cards-display;
  flex-direction: $Cards-flex-direction;
  gap: $cards-gap;
  margin-top: -30px;
}
.tracking-dashboard{
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  margin-top: 180px;
  margin-left: 400px;
}
.info-back{

margin-left: 20px;
margin-top: 40px;
width: 250px;
height: 450px;
border-radius: 8px;
background-color: hsl(235, 46%, 20%);
}
.work-card, .play-card, .study-card, .exercise-card, .social-card, .self-card {
  @include card-style;
}
.work-back, .play-back, .study-back, .exercise-back, .social-back, .self-back {
  @include card-back-style;
}
@each $card, $color in $card-colors {
  .#{$card}-back {
    background-color: $color;
  }
}
.info{
  width: 250px;
  height: 300px;
  border-radius: 8px;
  background-color: hsl(246, 80%, 60%);
}
.times{
  margin-top:100px;
  margin-left: 20px;
  display: $Cards-display;
  flex-direction: column;
  gap: 10px;
  font-family: $font-family;
}
.info h1{
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;

}
.info p{
  margin-top: 10px;
  margin-left: 10px;
}
.info h2{
  font-size: 2.5rem;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}