@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$background-color:hsl(226, 43%, 10%);
$color:hsl(0, 0%, 100%);
$font-size:1.8rem;
$font-family: 'DM Sans', sans-serif;
$Cards-display: flex;
$Cards-flex-direction: row;
$cards-gap: 15px;
$info-font-family: 'Rubik', sans-serif;
@mixin borderMixin($width, $color) {
  border: $width solid $color;
}
@mixin card-style {
  border:0;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  width: 220px;
  height:170px;
  margin-top: 45px;
  background-color: hsl(235, 46%, 20%);
  z-index: 1;
  position: relative;
}
@mixin card-mobile-style {
  border:0;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  width: 300px;
  height:100px;
  margin-top: 45px;
  background-color: hsl(235, 46%, 20%);
  z-index: 1;
  position: relative;
}
@mixin card-back-style {
  border: 0;
  border-radius: 12px;
  margin: 10px;
  width: 220px;
  height: 210px;
  margin-top: 40px;
  z-index: -1;
  
  
}
@mixin card-back-mobile-style {
  border: 0;
  border-radius: 12px;
  margin: 10px;
  width: 300px;
  height: 100px;
  margin-top: 40px;
  z-index: -1;
}
$card-colors: (
  work: hsl(15, 100%, 70%),
  play: hsl(195, 74%, 62%),
  study: hsl(348, 100%, 68%),
  exercise: hsl(145, 58%, 55%),
  social: hsl(264, 64%, 52%),
  self: hsl(43, 84%, 65%)
);


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: $background-color;
  color: $color;
}
.profile img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: 30px;
  margin-left: 30px;
  @include borderMixin(3px, white);
}
.tracking-content{
  display: $Cards-display;
  flex-direction: $Cards-flex-direction;
}
.weekly-report{
  margin-left: 30px;
display: flex;
flex-direction: column;
gap: 5px;


}
.row-one{
  display:$Cards-display;
  flex-direction: $Cards-flex-direction;
  gap: $cards-gap;
}
.row-two{
  display:$Cards-display;
  flex-direction: $Cards-flex-direction;
  gap: $cards-gap;
  margin-top: -30px;
}
.tracking-dashboard{
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  margin-top: 180px;
  margin-left: 400px;
}
.info-back{

margin-left: 20px;
margin-top: 40px;
width: 250px;
height: 450px;
border-radius: 12px;
background-color: hsl(235, 46%, 20%);
}
.work-card, .play-card, .study-card, .exercise-card, .social-card, .self-card {
  @include card-style;
}
 .work-card:hover,.play-card:hover, .study-card:hover, .exercise-card:hover, .social-card:hover, .self-card:hover {
 cursor: pointer;
}

.work-back, .play-back, .study-back, .exercise-back, .social-back, .self-back {
  @include card-back-style;
}
@each $card, $color in $card-colors {
  .#{$card}-back {
    background-color: $color;
  }
}
.info{
  width: 250px;
  height: 300px;
  border-radius: 12px;
  background-color: hsl(246, 80%, 60%);
}
.times{
  margin-top:80px;
  margin-left: 40px;
  display: $Cards-display;
  flex-direction: column;
  gap: 10px;
  font-family: $font-family;
  font-size: 18px;
  color: hsl(236, 100%, 87%);
}
.daily:hover, .weekly:hover, .monthly:hover{
  cursor: pointer;
  color: #fff;
}
.info h1{
  font-size: 18px;
  margin-top: 10px;
  margin-left: 30px;
  font-family:$info-font-family;
  font-weight: 300;
  color: hsl(236, 100%, 87%);

}
.info h2{
  font-size: 2.5rem;
  margin-top: 10px;
  margin-left: 30px;
  font-family:$info-font-family;
  font-weight: 300;
}
.work-icon img, .play-icon img, .study-icon img, .exercise-icon img, .social-icon img, .self-icon img{
  width: 68px;
  height: 70px;
  margin-left: 135px;
  z-index: 0;
  position: absolute;
}
.hours p{
  font-size: 45px;
  font-family:$info-font-family;
  font-weight: 300;
  margin-top: 20px;

}
.activity p{
  font-size: 18px;
  font-family:$info-font-family;
  font-weight: 300;
  margin-top: 10px;
  width: 250px;
  height: 20px;
 
}
.ellips img{
  margin-top: 20px;
}
.activity{
  display: flex;
  flex-direction: row;
  gap: 90px;
}
.ellips:hover{
  cursor: pointer;
}
.previous p{
  font-size: 15px;
  font-family:$info-font-family;
  font-weight: 400;
  margin-top: 10px;
  color: hsl(236, 100%, 87%);
}
// mobile design using sass 

@media screen and (max-width: 768px){
  .tracking-dashboard{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 180px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .row-one{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .row-two{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0px;
  }
  .tracking-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .info-back{
    width: 300px;
    height: 100px;
  }

  .work-back, .play-back, .study-back, .exercise-back, .social-back, .self-back {
    @include card-back-mobile-style;
    
   
  }
  .work-card, .play-card, .study-card, .exercise-card, .social-card, .self-card {
    @include card-mobile-style;
   
  }
  .hours p{
    font-size: 30px;
    margin-top: -20px;
  }
  .activity p{
    font-size: 15px;
    margin-top: -10px;
  }
  .previous p{
    font-size: 14px;
    margin-top: 10px;
  }
  .work-icon img, .play-icon img, .study-icon img, .exercise-icon img, .social-icon img, .self-icon img{
    width: 50px;
    height: 50px;
    margin-left: 230px;
    z-index: 0;
    position: absolute;
  }


}