$info-font-family: 'Rubik', sans-serif;
.info-container {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 40px;
  }
  
  .profile img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  
  .info-content {
    display: flex;
    flex-direction: column;
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .side-nav {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: $info-font-family;
  }
  
  .side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .side-nav li {
    margin-bottom: 10px;
  }
  
  .side-nav a {
    text-decoration: none;
    color:hsl(236, 100%, 87%);
    font-size: 18px;
    font-family: $info-font-family;
  }
  
  .side-nav a:hover {
    color: #fff;
    cursor: pointer;
  }
  .info h1{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 30px;
    font-family:$info-font-family;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
  
  }
  .info h2{
    font-size: 2.5rem;
    margin-top: 10px;
    margin-left: 30px;
    font-family:$info-font-family;
    font-weight: 300;
  }
  .info{
    width: 250px;
    height: 300px;
    border-radius: 12px;
    background-color: hsl(246, 80%, 60%);
  }
  .info-back{

    margin-left: 20px;
    margin-top: 40px;
    width: 250px;
    height: 450px;
    border-radius: 12px;
    background-color: hsl(235, 46%, 20%);
    }
    // mobile
    @media screen and (max-width: 375px) {
      .info-container {
        margin-top: 20px;
        margin-left: 20px;
      }
      
      .profile img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      
      .info h1 {
        font-size: 14px;
        margin-left: 100px;
        margin-top: -50px;
      }
      
      .info h2 {
        font-size: 20px;
        margin-left: 100px;
        width: 200px;
      }
      
      .info {
        width: 300px;
        height: 100px;
      }
      
      .info-back {
        margin-left: 30px;
        margin-top: 20px;
        width: 300px;
        height: 150px;
      }
      
      .side-nav {
        margin-top: 30px;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
      }
    }